.product-detail-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 30%;
    column-gap: 5%;
    justify-content: center;
}
.product-detail-left{
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-rows: 50% 50%; */
}
.product-detail-select-color{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    > li{
        width: 2rem;
        height: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        > img{
            width: 90%;   
            height: 90%;
            border-radius: 50%;
        }
    }
    > li:not(:last-child){
        margin-right: 1rem;
    }
}
.product-detail-color-focus{
    outline: 2px solid rgb(218, 0, 0);
    outline-offset: 2px;
}
.product-detail-color-not-focus{
    outline: 2px solid rgb(203, 203, 203);
    outline-offset: 2px;
}

.product-detail-select-size{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    > li{
        width: 3rem;
        height: 3rem;
        list-style: none;
        box-shadow: 0px 0px 5px rgb(200, 200, 200);
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    > li:not(:last-child){
        margin-right: 1rem;
    }
}
.product-detail-size-focus{
    border: 2px solid rgb(0, 0, 0);
}
.product-detail-size-not-focus{
    border: 2px solid rgb(200, 200, 200);
}
.product-detail-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.product-detail-description, .product-detail-material, .product-detail-instruction{
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    font-weight: 600;
}
.product-detail-description-text, .product-detail-material-text, .product-detail-instruction-text{
    width: 70%;
    font-size: 0.9rem;
}
.button-buy-product{
    width: 50%;
    height: 3rem;
    margin: 1rem 0 0 0;
    border: none;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    font-size: 1.2rem;
}



.product-detail-right{
    width: 100%;
    height: 100%;
}
.product-detail-main-image{
    width: 100%;
    > img{
        width: 100%;
    }
}

.product-detail-select-image{
    width: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;

    > li {
    height: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;

        > img{
        width: 100%;
        list-style: none;
        }
    }
}